@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema de Bodega";
}
<div class="container alert-primary">
    <div class="text-center text-justify">
        <h1 class="display-4"><b>Sistema de Bodega </b></h1>
        <img src="https://condominioindustrialsantacruz.com/wp-content/uploads/2020/01/como-construir-una-bodega-industrial.jpg" style="width:400px; height:400px" ;>


        <h2 class="display-1">Desarrollador</h2>
        <h4><p><b>Wagner Waldemar Hernandez Cruz 5390-18-330</b></p></h4>
        <h5><p>Para ver las API en Swagger entrar a: <a href="swagger">Swagger API REST</a>.</p></h5>
    </div>
</div>
